<nav class="navbar navbar-expand-lg all-nav p-lg-4" id="nav_bar">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">WardrobeWhiz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link text-white ms-4 navlink-left" aria-current="page" id="womens" href="/getProducts?catagorie=womens&sort=newFirst">WOMENS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white ms-3 navlink-left" id="mens" href="/getProducts?catagorie=mens&sort=newFirst">MENS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white ms-3 navlink-left" id="kids" href="/getProducts?catagorie=kids&sort=newFirst">KIDS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white ms-3 navlink-left" id="all" href="/getProducts?catagorie=all&sort=newFirst">EXPLORE</a>
  
          </li>
          
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
          
              <a class="nav-link text-white navlink-right me-3" href="/profile" >Profile</a>
            </li>
            
            <li class="nav-item">
                          <a class="nav-link text-white navlink-right" href="/cart">MyCart <span><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></span></a>

            </li>
            
          </ul>
      </div>
    </div>
  </nav>