<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Login and Registration Form in HTML & CSS | CodingLab </title>
    <link rel="stylesheet" href="/css/login_Reg.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    <div class="close-button" id="close-button">
         <a href="/"><i class="fas fa-times"></i></a>
      </div>
  <div class="container main-cont">
   
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/uploads/<%= banner.main %>" alt="">
        <div class="text">
            <span class="text-1"> Explore Trendsetting Styles <br> and Accessories </span>
            <span class="text-2">Let's get started</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="/uploads/<%= banner.main %>" alt="">
        <div class="text">
          <!-- <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span> -->
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">    

      <!-- Registration Form -->
        <div class="signup-form">
          <div class="title">Enter New Password</div>
          
        <form action="/change_password?_method=PUT" method="post">
          <% if (validate) { %>
            <div class="signup-mge" style="color: red;"><%= validate %></div>
           <% } %>
            <div class="input-boxes">
                <br>
              <span class="validation-error" id="change_password_error"></span>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter password" id="change_password" oninput="change_password_()" name="password1">
                
                
              </div>
              <span class="validation-error" id="re_enter_password_error"></span>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Re-enter password" id="re_enter_password" oninput="re_enter_password_()" name="password2">
                
                
              </div>
              <div class="button input-box">
                <input type="submit" value="Submit" id="registeration_submit">
              </div>
              <!-- <div class="text sign-up-text">Already have an account? <label><a href="/login">Login</a></label></div> -->
              
              <div class="text sign-up-text"><label> <a href="/">Go Home</a></label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<!-- Bootsrap-js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="/js/jQuery.js"></script>
<!-- Custom Js -->
<script src="/js/newPassword.js"></script>
</body>
</html>
