<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Login and Registration Form in HTML & CSS | CodingLab </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/login_Reg.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    <div class="close-button" id="close-button">
         <a href="/"><i class="fas fa-times"></i></a>
      </div>
  <div class="container main-cont">
   
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/uploads/<%= banner.main %>" alt="">
        <div class="text">
            <span class="text-1"> Explore Trendsetting Styles <br> and Accessories </span>
            <span class="text-2">Let's get started</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="/uploads/<%= banner.main %>" alt="">
        <div class="text">
          <!-- <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span> -->
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">    

      <!-- Registration Form -->
        <div class="signup-form">
          <div class="title">Enter Details to Continue</div>
          <div class="modal-body forgot-pass " id="number-otp-enter">

            <div class="input-area">
        
            <div class="input-boxes">
                <br>
                <form action="/send_otp" method="post" id="contactForm">
                  <% if (validate) { %>
                    <div  class="signup-mge" style="color: red;"> <p><%= validate %></p></div>
                   <% } %>
                    <div class="mydict" style="padding: 10px;">
                      <div>
                        <label>
                          <input type="radio" name="contactMethod" checked value="phone" id="phoneRadio">
                          <span>Mobile</span>
                        </label>
                        <label>
                          <input type="radio" name="contactMethod" value="email" id="emailRadio">
                          <span>Email</span>
                        </label>
                        
                      </div>
                    </div>
                
                    <div style="display: flex;">
                      <div id="phoneInput" style="margin-bottom: 10px ;width: 300px ;"  >
                      
                        <input type="number"  id="phoneNumber" placeholder="Enter phone number" style="width: 250px;" name="phoneNumber" class="forgot-input">
                        <br>
                        <span>Enter Phone number to continue</span>
                    </div>
                  
                      <div id="emailInput" class="hidden" style="margin-bottom: 10px;  width: 300px ;" >
                        
                        <input type="email"  id="emailAddress" placeholder="Enter Email address" name="emailAddress" class="forgot-input">
                        <br>
                        <span>Enter Email to Continue</span>
                      </div>
                     </div>
                      
                      <div><button id="enterNumberOTP"  type="submit" class="forgot-btn" style="display: block; margin: 0 auto;">
                        <span>Send OTP</span></button></div>
      
                      <!-- <svg id="loading" class="send-otp" viewBox="25 25 50 50">
                        <circle r="20" cy="50" cx="50"></circle>
                      </svg> -->
      
                    </form>
                    </div>
                </div>
              <!-- <div class="text sign-up-text">Already have an account? <label><a href="/login">Login</a></label></div> -->
              
              <div class="text sign-up-text"><label> <a href="/">Go Home</a></label></div>
            </div>
     
    </div>
    </div>
    </div>
  </div>

  <% if (otpSended) { %>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var buttonToClick = document.getElementById("enterOTP");
        if (buttonToClick) {
          buttonToClick.click();
        }
      });
    </script>
  <% } %>
  

<!-- // Modal trigger button -->
  <a type="button" id="enterOTP"  data-bs-toggle="modal" data-bs-target="#enterOtpModal">
  </a>
<!-- Modal -->
  <div class="modal fade" id="enterOtpModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="enterOtpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="enterOtpModalLabel">Enter OTP</h5>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
          <!-- <form action="/enter_otp" method="post"> -->
           <p> <span style="font-size: 15px ; color: red;" id="otpErr"></span></p>
            <input type="text" name="otp" class="forgot-input" required placeholder="otp" id="otpInput">
            <button class="forgot-btn" id="otpSubmit">Submit</button>
            <p class="pt-3" id="resendOTP" style="display: none;"> <a href="/resendOTP">Resend OTP</a></p>
            <p class="pt-3" id="timer"></p>
              
          <!-- </form> -->
        </div>
        <div class="modal-footer">
          <form action="/cancel_otp?_method=DELETE" method="post">
            <button class="btn bg-gradient-danger">Cancel</button>
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          </form>
          
          
        </div>
      </div>
    </div>
  </div>  


    <!-- Bootsrap Jd\s -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <!-- Custom Js -->
    <script src="/js/forgotPassword.js"></script>

    <!-- <script src="/js/app/js"></script>
    
  <script src="/js/validation.js"></script> -->

</body>
</html>